@charset "utf-8";
@import "bootstrap-grid.min.css";
@import "normalize";
@import "variables";
@import "mixins";
@import "type";
@import "buttons";
@import "forms";
@import "animations";
@import "modal";
@import "blog";

// Universal
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
  html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    // overflow: hidden;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }
  body {
    background: $color-black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include font-size(16);
    line-height: 1.5;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &.index {
      background: url('../images/site-bg-rapper-4.jpg') no-repeat scroll center top $color-black;
      background-size: cover;
    }
    &.signup {
      background: url('../images/site-bg-video.jpg') no-repeat scroll center 30% $color-black;
      background-size: cover;
    }
    &.beats-for-facebook {
      background: url('../images/site-bg-mic.jpg') no-repeat scroll right top $color-black;
      background-size: cover;
    }
    &.beats-for-instagram {
      background: url('../images/site-bg-mic.jpg') no-repeat scroll right top $color-black;
      background-size: cover;
    }
    &.sensory {
      background: url('../images/site-bg-sensory-mobile.jpg') no-repeat scroll right top #111427;
      background-size: 100% auto;
      @media (min-width: $mq-tablet) {
        background: url('../images/site-bg-sensory-desktop.jpg') no-repeat scroll right top #111427;
        background-size: cover;
      }
      .block-cta, .block-footer, .newsletter {
        background: #0F1021;
        border-bottom: 1px solid #282A57;
      }
      p {
        color: rgba(255,255,255,0.7);
        font-weight: 400;
      }
      .sub-title {
        color: #8D91D9;
      }
      ::placeholder {
        -webkit-text-fill-color: lighten(#0F1021, 45%);
      }
      ::-ms-input-placeholder {
        -webkit-text-fill-color: lighten(#0F1021, 45%);
      }
      .form-input {
        background: lighten(#0F1021, 5%);
        color: lighten(#0F1021, 75%);
        &:focus, &:hover {
          background: lighten(#0F1021, 15%);
        }
      }
      .nav-footer a {
        color: lighten(#0F1021, 35%);
        &:hover {
          color: lighten(#0F1021, 45%);
        }
      }
      .btn-secondary {
        background: lighten(#0F1021, 35%);
        color: lighten(#0F1021, 75%);
        &:hover {
          background: lighten(#0F1021, 40%);
          color: $color-white;
        }
      }
    }
  }

// Masthead
  .site-logo {
    display: block;
    height: 80px;
    width: auto;
    @include flexbox;
    @include flex-wrap(nowrap);
    text-decoration: none;
    .logo {
      @include flexbox;
      @include flex-wrap(wrap);
      height: 100%;
      width: 80px;
      &:hover {
        .logo-block {
          &:nth-child(1), &:nth-child(16){
            animation: pulse 600ms alternate infinite;
          }
          &:nth-child(2), &:nth-child(15){
            animation: pulse2 600ms ease 200ms alternate infinite;
          }
          &:nth-child(3), &:nth-child(14){
            animation: pulse3 600ms ease 300ms alternate infinite;
          }
          &:nth-child(4), &:nth-child(13){
            animation: pulse4 600ms ease 400ms alternate infinite;
          }
          &:nth-child(5), &:nth-child(12){
            animation: pulse6 600ms ease 500ms alternate infinite;
          }
          &:nth-child(6), &:nth-child(11){
            animation: pulse8 600ms ease 600ms alternate infinite;
          }
          &:nth-child(7), &:nth-child(10){
            animation: pulse8 600ms ease 700ms alternate infinite;
          }
          &:nth-child(8), &:nth-child(9){
            animation: pulse6 600ms ease 800ms alternate infinite;
          }
        }
      }
    }
    .logo-block {
      background: #222;
      box-shadow: 0 0 0 rgba(0,0,0,0.2);
      flex: 0 1 25%;
      height: 25% 25vh;
      &:nth-child(1), &:nth-child(16){
        background: #E52800;
        z-index: 1;
      }
      &:nth-child(2), &:nth-child(15){
        background: #E64D01;
        z-index: 2;
      }
      &:nth-child(3), &:nth-child(14){
        background: #E67300;
        z-index: 3;
      }
      &:nth-child(4), &:nth-child(13){
        background: #E79901;
        z-index: 4;
      }
      &:nth-child(5), &:nth-child(12){
        background: #E63917;
        z-index: 5;
      }
      &:nth-child(6), &:nth-child(11){
        background: #E76B2F;
        z-index: 6;
      }
      &:nth-child(7), &:nth-child(10){
        background: #E69544;
        z-index: 7;
      }
      &:nth-child(8), &:nth-child(9){
        background: #E6B75B;
        z-index: 6;
      }
    }
    img {
      width: 100%;
    }
    .logo-text {
      display: block;
      margin: .4rem 0 0 $space-small;
      width: 80px;
    }
    .logo-text-word {
      color: $color-white;
      @include font-size(18);
      font-weight: 700;
      display: inline-block;
      margin: 0;
    }
  }

  .site-wrapper {
    width: 100%;

  }

  .block {
    margin: 0 auto $space-medium;
    padding: 0 $space-x;
    @media (min-width: $mq-tablet) {
      padding: 0;
    }
  }

  .block-header {
    // background: lighten($color-black-500,2%);
    padding: $space-large $space-x $space-medium;
    @media (min-width: $mq-tablet) {
      padding: $space-large 0 $space-medium;
    }
  }
  .block-content {
    margin-bottom: $space-large;
  }

  .block-border-bottom {
    padding-bottom: $space-x;
    border-bottom: 10px solid lighten($color-black-500,1%);  
  }

  .persona-type {
    height: 50vh;
    margin: 0 auto $space-small;
    overflow: hidden;
    width: 100%;
    @media (min-width: $mq-laptop) {
      height: 100%;
      margin: 0;
      overflow: visible;
      width: 100%;
    }
  }
  .persona-type-header {
    @include absolute-center;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    width: 80%;
    @include font-size(24);
    @media (min-width: $mq-laptop) {
      position: relative;
      text-align: left;
      left: auto;
      top: auto;
      width: auto;
      @include translate(-$space-x,-12rem);
    }
  }
  .persona-type-image img {
    opacity: .4;
    width: 100%;
    @media (min-width: $mq-laptop) {
      opacity: 1;
      width: 100%;
    }
  }

  .value-prop {
    height: 360px;
    margin: 0 0 $space-medium 0;
    // overflow: hidden;
    position: relative;
    @media (min-width: $mq-tablet) {
      height: 460px;
    }
    @media (min-width: $mq-laptop) {
      // height: 660px;
    }
    @media (min-width: $mq-desktop) {
      // height: 720px;
    }
  }
  .value-prop-title {
    margin-top: $space-small;
    margin-bottom: $space-small;
    position: relative;
    z-index: 2;
    @media (min-width: $mq-tablet) {
      margin-top: $space-small;
      margin-bottom: $space-small;
    }
    @media (min-width: $mq-laptop) {
      text-align: left;
      // @include translate(-$space-large, 0);
      @include font-size(64);
      padding: $space-medium 0 0 0;
    }
    @media (min-width: $mq-wide) {
      text-align: left;
      @include translate(0, 0);
    }
  }
  .value-prop-content {
    position: relative;
    z-index: 2;
  }
  .value-prop-pad {
    padding-top: $space-large;
    @media (min-width: $mq-laptop) {
      padding-top: $space-large;
    }
  }
  .value-prop-image {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 95%;
    z-index: 1;
    opacity: .5;
    @media (min-width: $mq-laptop) {
      opacity: 1;
    }
    img {
      width: 100%;
      @include absolute-center;
    }
  }
  .value-prop-paragraph {
    color: $color-black-100;
    font-weight: 700;
    @media (max-width: $mq-laptop) {
      @include font-size(18);
    }
  }

  .block-cta {
    background: lighten($color-black-500,2%);
    border-bottom: 1px solid $color-black-400;
    box-shadow: -600px 0 0 lighten($color-black-500,2%), 600px 0 0 lighten($color-black-500,2%);
    margin-bottom: 0;
    padding: $space-large $space-x;
    @media (min-width: $mq-tablet) {
      padding: $space-large 0;
    }
  }

  .cta-header {
    @media (min-width: $mq-tablet) {
      margin: 0;
      text-align: left;
    }
  }
  .block-footer {
    background: lighten($color-black-500,2%);
    margin-bottom: 0;
    padding: $space-medium $space-x;
    @media (min-width: $mq-tablet) {
      padding: $space-large 0;
    }
  }
  .nav-footer {
    @include flexbox;
    @include flex-wrap(wrap);
    text-align: center;
    justify-content: center;
    @media (min-width: $mq-laptop) {
      @include flex-wrap(nowrap);
    }
  }
  .nav-footer-link {
    color: $color-gray;
    font-weight: 700;
    @include font-size(18);
    margin: 0 $space-x;
    padding: $space-small 0;
    text-decoration: none;
    width: 100%;
    @media (min-width: $mq-laptop) {
      padding: 0 0;
      width: auto;
    }
    &:hover {
      color: $color-white;
    }
  }
  .newsletter {
    border-bottom: 1px solid $color-black-400;
    margin: 0 0 $space-medium 0;
    padding: 0 0 $space-small 0;
  }

  .partners {
    border-bottom: 1px solid $color-black-400;
    margin: 0 0 $space-medium 0;
    padding: 0 0 $space-small 0;
  }
  .partners-list {
    @include flexbox;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .partners-list-ele {
    margin: 0 $space-medium 0 0;
  }
  .partners-list-link {
    display: block;
  }
  .partners-list-add {
    align-items: center;
    background: $color-black-500;
    border: 1px solid $color-black-400;
    @include flexbox;
    @include font-size(24);
    height: 50px;
    justify-content: center;
    line-height: 1;
    @include transition;
    width: 50px;
    &:after {
      content: "";
      @extend .t-16;
    }
    &:hover {
      border: 1px solid $color-black-300;
      width: auto;
      padding: $space-small;
      &:after {
        content: "Partner with Us";
        margin-left: 5px;
      }
    }
  }
  .partners-list-icon {
    position: static;
    margin-top: 7px;
  }

  .card-plan {
    background: rgba(30,30,30,0.4);
    border: 1px solid lighten($color-black-500,8%);
    margin: 0 0 $space-medium 0;
    padding: $space-medium 0;
  }
  .card-plan-cta {
    padding-top: $space-x;
  }
  .card-plan-content {
    padding: 0 $space-medium;
  }
  .card-plan-header {
    margin: 0 0 $space-x;
  }
  .card-plan-list {
    border: 1px solid $color-black-400;
    border-left: 0;
    border-right: 0;
    margin: $space-small 0 $space-medium;
  }
  .card-plan-list-ele {
    border-bottom: 1px solid darken($color-black-400,10%);
    padding: $space-x $space-medium;
    &:last-child {
      border-bottom: 0;
    }
  }

  .table-container {
    overflow-x: auto;
  }
  .table {
    width: 100%;
    tr:hover td {
      background: $color-black-500;
      .table-link {
        color: $color-yellow;
      }
    }
    th, td {
      border-bottom: 1px solid $color-black-500;
      color: $color-white;
      font-weight: 700;
      white-space: nowrap;
    }
    th {
      background: rgba(33,33,33,0.7);
      @include font-size(14);
      padding: $space-small $space-small $space-x;
      text-align: left;
    }
    td {
      background: rgba(51,51,51,0.7);
      border-right: 1px solid $color-black-500;
      @include font-size(18);
      padding: $space-x $space-small;
      &:last-child {
        border-right: 0;
      }
    }
    .table-logo {
      border-right: 0;
      padding-right: 0;
      width: 60px;
    }
    .table-logo-img {
      width: 40px;
      vertical-align: middle;
    }
    .table-link {
      color: $color-white;
    }
    .table-os-img {
      display: inline-block;
      margin: 0 $space-x;
      &:first-child {
        margin-left: 0;
      }
    }
    .table-free-img {
      margin-top: 5px;
    }
    .table-cell-center {
      text-align: center;
    }
    .table-text-small {
      @include font-size(14);
    }
  }

  .block-logo {
    border: 1px solid #282A57;
    height: 160px;
    margin: 0 0 $space-small 0;
    width: 100%;
    &:hover {
      border: 1px solid #4B4FA3;
      .block-logo-img {
        @include scale(1.05);    
      }
    }
  }
  .block-logo-small {
    @media (min-width: $mq-laptop) {
      height: 110px;
    }
  }
  .block-logo-link {
    align-items: center;
    @include flexbox;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .block-logo-img {
    width: 50%;
    @include scale(1);
  }

  .player {
    margin: 0 0 $space-medium;
    .sc-artwork-list, .sc-info, .sc-scrubber, .sc-time-indicators, .sc-info, .sc-info-toggle {
      display: none;
    }
    .sc-controls {
      background: $color-gold;
      position: fixed;
      height: 40px;
      width: 40px;
      @include flexbox;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      bottom: $space-x;
      left: $space-x;
      z-index: 1000;
    }
    .sc-play {
      @include text-hide;
      background: url('../images/icon-play.svg') no-repeat center;
      background-size: 10px;
      height: 24px;
      width: 24px;
    }
    .sc-pause {
      @include text-hide;
      background: url('../images/icon-pause.svg') no-repeat center;
      background-size: 10px;
      height: 24px;
      width: 24px;
    }
    .sc-trackslist {
      margin: 0;
      .sc-track {
        cursor: pointer;
        &:hover {
          .sc-track-title {
            color: $color-yellow;
          }
        }
      }
      .sc-track.active .sc-track-title {
        color: $color-yellow;
      }
    }
    .sc-track-duration {
      color: rgba(255,255,255,0.3);
      @extend .t-14;
      padding: 0 0 0 $space-x;
    }
  }

  .box-song {
    align-items: center;
    background: $color-black-400;
    @include flexbox;
    margin: 0 0 $space-small 0;
    padding: $space-x;
    width: 100%;
    @include flex-wrap(wrap);
    @media (min-width: $mq-laptop) {
      padding: $space-small;

    }
  }
  .box-song-player {
    background: url(../images/covers/cover-none.png) no-repeat center left;
    background-size: cover;
    height: 120px;
    position: relative;
    width: 120px;
    @media (min-width: $mq-laptop) {
      height: 120px;
      width: 120px;
    }
  }
  .box-song-player--artwork { 
    width: 100%;
  }
  .box-song-player--controls-wrapper {
    $s: 24px;
    $s2: $s * 2;
    background: $color-black-200;
    border-radius: $s2;
    content: "";
    height: $s2;
    width: $s2;
    @include absolute-center;
    &:hover {
      background: $color-gold;
      height: $s2 - 3;
      width: $s2 - 3;
    }
    &.playing {
      background: $color-red;
      .box-song-player--controls {
        background: url(../images/icon-pause.svg) no-repeat center;
        background-size: 12px auto;
        &:hover {
          background-size: 14px auto;
        }
      } 
    }
    &.paused, &.unloaded {
      .box-song-player--controls {
        background: url(../images/icon-play.svg) no-repeat center;
        background-size: 12px auto;
        &:hover {
          background-size: 14px auto;
        }
      }
    }
  }
  .box-song-player--controls {
    $s: 24px;
    $s2: $s * 2;
    @include absolute-center;
    cursor: pointer;
    height: $s2;
    width: $s2;
    @include text-hide; 
  }
  .box-song-meta {
    flex: 1 1;
    height: inherit;
    padding: 0 $space-small;
    position: relative;
    @media (min-width: $mq-laptop) {
      // padding: 0 $space-medium;
    }
  }
  .box-song-meta--producer, .box-song-meta--mood {
    display: block;
    margin: 0 0 2px 0;
  }
  .box-song-meta--mood {
    font-style: oblique;
  }
  .box-song-meta--download {
    display: block;
    margin: $space-small 0 0;
  }

// Box List Styles
  .source-submit-link {
    display: block;
    margin-bottom: $space-small;
    @media (min-width: $mq-laptop) {
      float: right;
      margin-bottom: 0;
    }
  }

  .box-list {
    background: lighten($color-black-500,2%);
    box-shadow: inset $space-small 0 0 lighten($color-black-500,6%);
    padding: $space-small;
    padding-left: $space-medium;
    &:nth-child(even){
      background: lighten($color-black-500,3%);
      box-shadow: inset $space-small 0 0 lighten($color-black-500,7%);
    }
    &:hover {
      background: lighten($color-black-500,6%);
      box-shadow: inset $space-small 0 0 lighten($color-black-500,10%);
    }
  }
  .box-title {
    margin-bottom: $space-x;
  }
  .box-meta {
    @extend .t-14;
    color: $color-black-200;
    font-weight: 700;
    @include flexbox;
  }
  .box-meta-ele {
    margin-right: $space-small;
  }