.margin-small                {margin: $space-small}
.margin-medium               {margin: $space-medium}
.margin-large                {margin: $space-large}
.margin-xl                   {margin: $space-xl}

.margin-top-small            {margin-top: $space-small}
.margin-top-medium           {margin-top: $space-medium}
.margin-top-large            {margin-top: $space-large}
.margin-top-xl               {margin-top: $space-xl}

.margin-bottom-small         {margin-bottom: $space-small}
.margin-bottom-medium        {margin-bottom: $space-medium}
.margin-bottom-large         {margin-bottom: $space-large}
.margin-bottom-xl            {margin-bottom: $space-xl}

.margin-left-small           {margin-left: $space-small}
.margin-left-medium          {margin-left: $space-medium}
.margin-left-large           {margin-left: $space-large}
.margin-left-xl              {margin-left: $space-xl}

.margin-right-small          {margin-right: $space-small}
.margin-right-medium         {margin-right: $space-medium}
.margin-right-large          {margin-right: $space-large}
.margin-right-xl             {margin-right: $space-xl}

.margin-x-small              {margin-left: $space-small; margin-right: $space-small}
.margin-x-medium             {margin-left: $space-medium; margin-right: $space-medium}
.margin-x-large              {margin-left: $space-large; margin-right: $space-large}
.margin-x-xl                 {margin-left: $space-xl; margin-right: $space-xl}

.margin-y-small              {margin-top: $space-small; margin-bottom: $space-small}
.margin-y-medium             {margin-top: $space-medium; margin-bottom: $space-medium}
.margin-y-large              {margin-top: $space-large; margin-bottom: $space-large}
.margin-y-xl                 {margin-top: $space-xl; margin-bottom: $space-xl}

.padding-small                {padding: $space-small}
.padding-medium               {padding: $space-medium}
.padding-large                {padding: $space-large}
.padding-xl                   {padding: $space-xl}

.padding-top-small            {padding-top: $space-small}
.padding-top-medium           {padding-top: $space-medium}
.padding-top-large            {padding-top: $space-large}
.padding-top-xl               {padding-top: $space-xl}

.padding-bottom-small         {padding-bottom: $space-small}
.padding-bottom-medium        {padding-bottom: $space-medium}
.padding-bottom-large         {padding-bottom: $space-large}
.padding-bottom-xl            {padding-bottom: $space-xl}

.padding-left-small           {padding-left: $space-small}
.padding-left-medium          {padding-left: $space-medium}
.padding-left-large           {padding-left: $space-large}
.padding-left-xl              {padding-left: $space-xl}

.padding-right-small          {padding-right: $space-small}
.padding-right-medium         {padding-right: $space-medium}
.padding-right-large          {padding-right: $space-large}
.padding-right-xl             {padding-right: $space-xl}

.padding-x-small              {padding-left: $space-small; padding-right: $space-small}
.padding-x-medium             {padding-left: $space-medium; padding-right: $space-medium}
.padding-x-large              {padding-left: $space-large; padding-right: $space-large}
.padding-x-xl                 {padding-left: $space-xl; padding-right: $space-xl}

.padding-y-small              {padding-top: $space-small; padding-bottom: $space-small}
.padding-y-medium             {padding-top: $space-medium; padding-bottom: $space-medium}
.padding-y-large              {padding-top: $space-large; padding-bottom: $space-large}
.padding-y-xl                 {padding-top: $space-xl; padding-bottom: $space-xl}