// _buttons.scss

  .btn {
    align-items: center;
    background: $color-gray;
    border: 0;
    border-radius: 0;
    color: $color-white;
    display: flex;
    justify-content: center;
    @extend .t-24;
    font-weight: 700;
    padding: $space-small;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  .btn-primary {
    background: $color-red-400;
    color: $color-red-50;
    &:hover {
      background: $color-red-500;
      color: $color-red-50;
    }
  }
  .btn-secondary {
    background: $color-black-400;
    color: $color-black-100;
    &:hover {
      background: $color-black-200;
      color: $color-black-0;
    }
  }
  .btn-tertiary {
    background: $color-yellow-400;
    color: $color-yellow-50;
    &:hover {
      background: $color-yellow-500;
      color: $color-yellow-50;
    }
  }
  .btn-white-red {
    background: $color-red-50;
    color: $color-red;
    &:hover {
      background: $color-white;
      color: $color-red-400;
    }
  }
  .btn-center-tablet {
    @media (min-width: $mq-tablet) {
      @include absolute-center;
    }
  }
  .btn-small {
    @extend .t-16;
    height: 100%;
    line-height: 1;
    padding: $space-x $space-small;
    align-items: center;
  }
