// _buttons.scss

  .component-button {
    align-items: center;
    background: $color-gray;
    border: 0;
    border-radius: 0;
    color: $color-white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    @extend .t-24;
    font-weight: 700;
    margin: 0;
    padding: $space-x $space-small;
    text-align: center;
    text-decoration: none;
    width: 100%;
    &:hover {
      background: $color-black-200;
    }
  }
  .component-button-primary {
    background: $color-red-400;
    color: $color-red-50;
    &:hover {
      background: $color-red-500;
      color: $color-red-50;
    }
  }
  .component-button-secondary {
    background: $color-black-400;
    color: $color-black-100;
    &:hover {
      background: $color-black-300;
      color: $color-black-0;
    }
  }
  .component-button-tertiary {
    background: $color-yellow-400;
    color: $color-yellow-50;
    &:hover {
      background: $color-yellow-500;
      color: $color-yellow-50;
    }
  }
  .component-button-white-red {
    background: $color-red-50;
    color: $color-red;
    &:hover {
      background: $color-white;
      color: $color-red-400;
    }
  }
  .component-button-center-tablet {
    @media (min-width: $mq-tablet) {
      @include absolute-center;
    }
  }
  .component-button-small {
    @extend .t-16;
    height: 100%;
    line-height: 1;
    padding: $space-x $space-small;
    align-items: center;
  }
  .component-button-hug {
    width: auto;
  }
  .component-button-rounded {
    border-radius: $space-large;
  }
