.sub-nav {
  display: flex;
  flex-wrap: wrap;
  gap: $space-small;
}
.sub-nav-item {
  @extend .border-bottom;
  @extend .padding-bottom-small;
  color: $color-black-200;
  cursor: pointer;
  width: 100%;
  &:hover {
    color: $color-black-100;
  }
  &.selected {
    color: $color-white;
    font-weight: 700;
  }
}