.player-on {
  padding-bottom: 52px
}
.bbx-musicplayer {
  background: $color-black;
  bottom: 0;
  box-shadow: 0 -20px 20px rgba(0,0,0,0.1);
  min-height: 92px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  @include transition();
  display: none;
  @media (min-width: $mq-tablet) {
    display: block;
  }
  &.opened {
    @include translate(0,0);
  }
  &.closed {
    @include translate(0,92px);
  }
  .box-list {
    top: 0;
    padding-left: 4rem;
    @media (min-width: $mq-phonexl) {
      padding-left: 6rem;
    }
  }
  .box-meta-ele > * {
    @media (min-width: $mq-phonexl) {
      margin-bottom: 0;
    }
  }
}