.pattern-card {
  align-content: stretch;
  border: 1px solid $color-black-300;
  display: flex;
  flex-direction: column;
  gap: $space-small;
  margin: 0 0 $space-medium;
  padding: $space-medium;
  &:hover {
    border-color: $color-black-200;
  }
  .token-paragraph {
    height: 73px;
  }
}