// _forms.scss

  .form-fieldset {
    border: 0;
    margin: 0 0 $space-medium;
    padding: 0;
    position: relative;
    width: 100%;
  }
  .form-fieldset-hidden {
    display: none;
  }
  .form-label {
    color: $color-black-200;
    @extend .t-18;
    display: block;
    font-weight: 700;
    margin-bottom: $space-x;
  }
  .form-input {
    background: lighten($color-black-500,5%);
    border: 0;
    border-radius: 0;
    color: $color-black-50;
    @extend .t-24;
    font-weight: 700;
    outline: 0;
    padding: $space-small;
    width: 100%;
    &:focus {
      background: lighten($color-black-400,0%);
      color: $color-black-0;
    }
    &.fail {
      background: $color-red;
      color: $color-white;
    }
  }
  .form-textarea {
    background: lighten($color-black-500,5%);
    border: 0;
    border-radius: 0;
    color: $color-black-50;
    @extend .t-24;
    font-weight: 700;
    min-height: 300px;
    outline: 0;
    padding: $space-small;
    width: 100%;
    &:focus {
      background: lighten($color-black-400,0%);
      color: $color-black-0;
    }
    &.fail {
      background: $color-red;
      color: $color-white;
    }
  }
  .form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../images/icon-triangle.svg') 95% center no-repeat lighten($color-black-500,5%);
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: $color-white;
    @extend .t-24;
    font-weight: 700;
    padding: $space-small;
    position: relative;
    width: 100%;
  }
  .form-submit {
    width: 100%;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 0px solid transparent;
    -webkit-text-fill-color: $color-black-50;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  // Validation
    .parsley-error {
      color: $color-red;
      &:focus {
        color: $color-red;
      }
      &::-webkit-input-placeholder { /* Edge */
        color: $color-red-200;
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-red-200;
      }

      &::placeholder {
        color: $color-red-200;
      }
    }
    .parsley-errors-list {
      @include nolist;
      display: none;
    }
    .parsley-required {
      color: $color-red-300;
      @extend .t-14;
      padding-left: $space-small;
      padding-top: 5px;
    }
    .bs-callout {
      display: block;
      font-weight: 700;
      text-align: center;
      padding: 0 0 $space-x 0;
      &.bs-callout-warning {
        color: $color-red-300;
      }
      &.hidden {
        display: none;
      }
    }