.partners {
  border-bottom: 1px solid $color-black-400;
  margin: 0 0 $space-medium 0;
  padding: 0 0 $space-small 0;
}
.partners-list {
  @include flexbox;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: $space-small;
}
.partners-list-ele {
  width: 123px;
}
.partners-list-link {
  display: block;
  width: 100%;
}
.partners-list-logo {
  width: 100%;
}
.partners-list-add {
  align-items: center;
  background: $color-black-500;
  border: 1px solid $color-black-400;
  @include flexbox;
  @include font-size(24);
  height: 50px;
  justify-content: center;
  line-height: 1;
  @include transition;
  width: 50px;
  &:after {
    content: "";
    @extend .t-16;
  }
  @media (min-width: $mq-laptop) {
    &:hover {
      border: 1px solid $color-black-300;
      width: auto;
      padding: $space-small;
      &:after {
        content: "Partner with Us";
        margin-left: 5px;
      }
    }
  }
}
.partners-list-icon {
  position: static;
  margin-top: 7px;
}